<!doctype html>
<html lang="en">
  <head>
  	<title>DISHA-Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/table/css/style.css">
    <style>
                a:link, a:visited {
        background-color: #6610f2;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }

        a:hover, a:active {
        background-color: #4511a0;
        }
    </style>
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<!-- <div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Table #03</h2>
				</div>
			</div> -->
			<div class="row">
				<div class="col-md-12">
					<!-- <h4 class="text-center mb-4">Reviews</h4> -->
					<div class="">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th></th>
					        
					        <th style="font-size: 18px;">Details</th> 
					        <th></th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td scope="row" class="scope" ><a href="" target="iframe_a">Information</a></th>
					        <td scope="row" class="scope"><a href="table.html" target="iframe_a">Reviews</a></td>
					        <td scope="row" class="scope"><a href="photos.html" target="iframe_a">Photos</a></td>
                        </tr>
                        
					      
					    </tbody>
                       
					  </table>
                      <iframe src="" height="1000px" width="100%" padding="" name="iframe_a" title="">
                    </iframe>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../static/table/js/jquery.min.js"></script>
  <script src="../static/table/js/popper.js"></script>
  <script src="../static/table/js/bootstrap.min.js"></script>
  <script src="../static/table/js/main.js"></script>

	</body>
</html>

